<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Great Number Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <h3>I am thinking of a number between 1 and 100</h3>
        <h3>Take a guess!</h3>

        <form action="/guess" method="post">
            {% if message ==  "high" %}
                <h2>Too high!</h2>
            <input type="text" name="new_guess">
            <input type="submit" value="Submit">
            {% elif message ==  "low" %}
                <h2>Too low!</h2>
            <input type="text" name="new_guess">
            <input type="submit" value="Submit">
            {% elif message ==  "exact" %}
                <h2> {{ number }} was the number!</h2>
            <button type="button"> <a href={{ url_for('index') }}>Play again!!</a> </button>
            {% else %}
            <input type="text" name="new_guess">
            <input type="submit" value="Submit">
            {% endif %}

        </form>   

    </body>
</html>